@{
    ViewBag.Title = "Home Page";
}


<table>
    <tr>
        <td><div id="com1"></div></td>
        <td><div id="com2"></div></td>
    </tr>
</table>
<script src="~/Scripts/react/react.min.js"></script>
<script src="@Url.Content("~/Scripts/JS/Component1.jsx")"></script>
<script src="@Url.Content("~/Scripts/JS/Component2.jsx")"></script>
<link href="~/Content/Site.css" rel="stylesheet" />